/*css do main*/
body {
    background: url(../assets/fundonuvem.jpeg);
    min-width: 100vh;
}

.fundonuvem {
    height: 58em;
    width: 100%;
   
}

.main {
    display: inline-block;
    background-color: red;
}

.pokedex {
    position: absolute;
    left: 39%;
    bottom: 8em;
   
    
}

.imagem_pokemon {
    position: absolute;
    bottom: 30em;
    left: 47%;
    height: 10%;
}

/*Css dos botões */
.dadopokemon {
    position: absolute;
    top: 22em;
    left: 44%;
    font-family: 'Oxanium', cursive;
    font-size: 1.5em;
    color: #000
}


#nomepokemon {
    position: absolute;
    left: 41%;
    bottom: 22em;
    width: 15%;
    border: solid 2px #000;
    box-shadow: -2px 3px 0 #CCC, -4px 6px 0 #000;
    border-radius: 0.5em;
    padding: 1em;
    font-family: 'Oxanium', cursive;
}

.botoes {
    width: 30%;
    position: absolute;
    left: 40%;
    bottom: 11em;
}
 
#botao1 {
    width: 25%;
    padding: 2%;
    border: 2px solid #000;
    background: #3b3939;
    color: #FFFFFF;
    font-size: 1.2em;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    margin: 0 0 0 1em;
    FONT-WEIGHT: 200;
    font-family: 'Oxanium', cursive;
}

#botao1:active {
    box-shadow: none;
}

#botao2 {
    width: 25%;
    padding: 2%;
    border: 2px solid #000;
    background: #3b3939;
    color: #FFFFFF;
    font-size: 1.2em;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    margin: 0 0 0 1em;
    FONT-WEIGHT: 200;
    font-family: 'Oxanium', cursive;
}

#botao2:active {
    box-shadow: none;
    
}